
form {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: fixed;
    padding: 30px;
    gap: 15px;
    border: 3px solid black;
    border-radius: 20px;
    top: 50%;
    left: 50%;
}

.active {
    visibility: visible;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.book-grid div {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}